@charset "utf-8";

.wrap {
    height: 100vh;
    display: flex;

}

.nav {
    width: 120px;
    height: 100vh;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.content {
    width: 100%;
    flex-grow: 9;
    overflow: auto;
}

.arrow {
    width: 54px;
    display: block;
}

.cross {
    width: 74px;
    display: block;
}

.underbar {
    width: 411px;
    height: 6px;
    position: relative;
    top: 5vh;
    display: block;
}
.mbimg {display: none;}
h2 {
    text-align: center;
    text-transform: capitalize;
    font-family: "montserrat", -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
    font-size: 70px;
    font-weight: 300;
}

h2:after {
    content: "";
    display: block;
    width: 74px;
    border-bottom: 2px solid #000;
    margin: 32px auto;
}

ul {
    list-style: none;
}

/*link*/
.cont_3_link {
    width: 100%;
    height: 80px;
    margin: 30px 0;
    display: flex;
    align-items: center;
}

.cont_3_link1 {
    width: 190px;
    min-width: 190px;
    height: 80px;
    background: #86A4D1;
    margin: 0 20px 0 0;
    text-align: center;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.cont_3_link1 a { color: #fff;}

.cont_3_link2 {
    width: 190px;
    min-width: 190px;
    height: 80px;
    background: #554164;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.cont_3_link a {
    color: #fff;
}

.link_txt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 28px;
}

.link_txt div {
    margin: 0;
}

.link_txt h5 {
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
}


.link_img {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link_txt1 img {
    width: 10px;
    height: 14px;
    margin: 0 5px;
}

.link_txt2 img {
    width: 16px;
    height: 8px;
    margin: 0 5px;
}

/*linkhover*/
.cont_3_link1:hover {
    background: #fff;
    border: 2px solid #86A4D1;
    transition: 0.3s;
}

.cont_3_link1:hover a {
    color: #86A4D1;
}

.cont_3_link1:hover img {
    filter:  invert(55%) sepia(94%) saturate(160%) hue-rotate(177deg) brightness(99%) contrast(85%);
}

.cont_3_link2:hover {
    background: #fff;
    border: 2px solid #554164;
    transition: 0.3s;
}

.cont_3_link2:hover a {
    color: #554164;
}

.cont_3_link2:hover img {
    filter: invert(26%) sepia(18%) saturate(974%) hue-rotate(231deg) brightness(97%) contrast(91%);
}


.nav_logo {
    height: 25vh;
    width: 113px;
    display: flex;
}

.nav_logo div {
    width: 60px;
    height: 60px;
    margin-top: 20px;
}

.nav_logo1 {
    display: flex;
    align-items: flex-start;
}

.nav_logo1 img {
    width: 60px;
    /*    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(20deg) brightness(119%) contrast(107%);*/
}

.nav_burger {
    display: flex;
    align-items: center;
}

.nav_burger #sideDrawerMenu {
    width: 30px;
    height: 30px;
}

.nav_link {
    height: 25vh;
    width: 113px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

.nav_link div {
    width: 30px;
    height: 30px;
}

.nav_link img {
    width: 30px;
}

/*menu*/
.menu {
    display: none;
}

#sideDrawerMenu {
    z-index: 100;
}

#sideDrawerMenu .icon_bars {
    width: 26px;
    height: 20px;
    position: absolute;
    top: 49%;
    left: 45px;
    cursor: pointer;
    z-index: 1;
}

#sideDrawerMenu .icon_bars .bar {
    width: 100%;
    height: 3px;
    background-color: #000;
    position: absolute;
    transition: .2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#sideDrawerMenu .icon_bars .bar:first-child {
    top: 0;
    transform-origin: top left;
}

#sideDrawerMenu .icon_bars .bar:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

#sideDrawerMenu .icon_bars .bar:last-child {
    bottom: 0;
    transform-origin: bottom left;
}

#sideDrawerMenu.on {
    width: 100%;
    height: 100%;
}

/* 마우스로 클릭했을 때 */
#sideDrawerMenu.on .icon_bars .bar:first-child {
    top: 0;
    transform: rotate(45deg);
    background-color: #fff;
}

#sideDrawerMenu.on .icon_bars .bar:nth-child(2) {
    display: none;
}

#sideDrawerMenu.on .icon_bars .bar:last-child {
    bottom: 0;
    transform: rotate(-45deg);
    background-color: #fff;
}

/*햄버거 클릭 시 나오는 메뉴*/
#sideDrawerMenu.on .menu {
    display: block;
}

.menu {
    background-image: url(asset/images/menu_back.png);
    background-size: cover;
    width: 100vw;
    height: 100%;
    opacity: 100%;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    display: none;
    margin: 0;
    padding: 0;
}

.opacity {
    width: 113px;
    height: 100vh;
    flex-grow: 1;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.2);
}

.nav_logo img {
    width: 60px;
}


.menu_main {
    width: 80%;
    
    padding-left: 20vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menutitle {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20vh;
}

.menutitle a {
    display: flex;
    color: #fff;
    font-family: 'pretendard';
    font-weight: 600;
    align-items: center;
    font-size: 50px;
    height: 15vh;
}

.menutitle img {
    height: 100%;
    display: none;
}

.menutitle a:hover {
    color: #554164;
}

.menutitle a:hover img {
    display: block;
    width: 30px;
    height: 20px;
    margin-right: 20px;
    transition: 0.6s;
}

/*메뉴 푸터*/
.sidefooter {display: flex; padding-bottom: 10vh; width: 100%;}
.sidefooter>div {margin: 0 2vw 0 0; width: 25%;}
.sidefooter h3 {font-family: "montserrat", -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif; font-size: 28px; margin-bottom:20px;}
.sidefooter span {font-family: "montserrat", -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;}
.nav_logo4 img {width: 100%;}
.sidefooter .cont_3_link {
    min-width: 190px;
    margin: 0;
    box-sizing: border-box;
}


/*cont_1*/
.mbimg {
    display: none;
}

.cont_1_cont {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 80%;
    margin: 100px auto;
}

.cont_1_cont > div {
    width: 100%;
    margin: 50px 0;
}

.cont_1_tit h1 {
    display: block;
    text-align: left;
    line-height: 1;
    font-family: "montserrat", -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
    font-size: 140px;
    font-weight: 600;
}

.cont_1_tit h1 span {
    color: #554164;
    font-weight: 400;
}

.cont_1_tit h6 {
    display: block;
    font-family: "pretendard", -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
    line-height: 1;
    font-size: 30px;
    font-weight: 400;
}

.cont_1_txt {
    display: flex;
    align-items: flex-start;
}

.cont_1_txt1 {
    width: 54px;
    margin: 50px 30px;
}

.cont_1_txt2 {
    width: 65%;
    margin: 0 30px;
    font-size: 24px;
    font-family: "pretendard", -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
    line-height: 1.5;
    font-weight: 300;
    margin: 50px;
}

.cont_1_txt2 span {
    font-family: "montserrat", -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    font-style: italic;
}

.cont_1_txt3 {
    width: 74px;
    margin: 130px 0 0;
}

/*cont_2*/
.cont_2_cont {
    width: 100%;
}

.cont_2_cont img {
    width: 100%;
}


/*cont_3*/
.cont_3 {
    height: 1000px;
    display: flex;
    align-items: center;
}

.cont_3_cont {
    display: flex;
    width: 80%;
}

.cont_3_logo {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.cont_3_logo1 {
    width: 80%;
    height: 120px;
    margin: 30px 0;
}

.cont_3_logo1 img {
    width: 100%;
    min-width: 300px;
}

.cont_3_logo2 {
    width: 74;
    height: 74px;
    margin: 140px 0;
}

.cont_3_txt {
    width: 80%;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-left: 5%;
}

.cont_3_txt1 {
    width: 100%;
    margin: 180px 0 60px;
    font-family: "montserrat", -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
}

.cont_3_txt2 {
    width: 100%;
    margin: 0 0 110px;
    font-family: "pretendard", -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
}





/*cont_4*/
.cont_4_cont {
    width: 100%;
}

.cont_4_tit {
    display: flex;
    align-items: center;
    height: 400px;
}

.cont_4_tit h2 {
    text-align: center;
    margin-bottom: 200px;
    text-transform: capitalize;
    font-family: "montserrat", -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
    font-size: 70px;
    font-weight: 300;
}

.cont_4_main {
    width: 100%;
}

/*cont4 textbox 공통*/
.txt_box_tit h3 {
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
    font-family: "montserrat", -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
    margin: 0 0 50px 0;
}

.txt_box_tit img {
    width: 74px;
    height: 74px;
    position: relative;
    top: 30px;
}

.txt_box_txt {
    font-size: 18px;
    line-height: 1.5;
    font-family: "Pretendard";
}

.txt_box_txt span {
    font-family: "montserrat";
}

.underbar {
    margin: 0;
    width: 60%;
    height: 7px;
    background-image: linear-gradient(to right, #86A4D1, #CAC6DD 48%, #F5E1E1 101%);
}

/*cont4 이미지*/
.cont_4_ow,
.cont_4_bd {
    display: flex;
}

.cont_4_pf {
    display: flex;
    margin-bottom: 200px;
}

.cont_4_ow > div {
    width: 52%;
    height: 30vw;
    min-height: 400px;
    margin: 0 2vw;
}

.cont_4_bd > div {
    width: 52%;
    height: 30vw;
    min-height: 400px;
    margin: 0 2vw;
}

.cont_4_pf > div {
    width: 52%;
    height: 30vw;
    min-height: 400px;
    margin: 0 2vw;
    display: flex;
    align-items: center;
}

.ow_img_bg {
    width: 52%;
    height: 30vw;
    min-height: 400px;
    background: linear-gradient(to bottom, #86A4D1, #fff);
    display: flex;
    align-items: center;
    float: right;
}

.ow_img_ic {
    width: 70%;
    display: flex;
    align-items: center;
}

.ow_img_ic img {
    width: 100%;
}

.ow_txt {
    display: flex;
    align-items: center;
}

.ow_txt_box {
    width: 100%;
    height: 400px;
    float: left;
}

.ow_txt_box_tit img {
    margin-left: 320px;
}

.bd_img_bg {
    width: 52%;
    height: 30vw;
    min-height: 400px;
    background: linear-gradient(to bottom, #CAC6DD, #fff);
    ;
    display: flex;
    align-items: center;
    float: left;
    margin-left: 3vw;
}

.bd_img_ic {
    width: 80%;
    display: flex;
    align-items: center;
}

.bd_img_ic img {
    width: 100%;
}

.bd_txt {
    display: flex;
    align-items: center;
}

.bd_txt_box {
    width: 100%;
    height: 400px;
    min-height: 400px;
    float: right;
    text-align: right;
}

.bd_txt_box_tit img {
    margin-right: 330px;
}

.bd_txt_box .underbar {
    margin: 0 0 0 auto;
}

.pf_img_bg {
    width: 84%;
    height: 20vw;
    min-height: 100px;
    background: linear-gradient(to left, #F5E1E1, #fff);
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
}

.pf_img_ic {
    width: 38%;
    display: flex;
    align-items: center;
}

.pf_img_ic img {
    width: 100%;
}

.pf_txt {
    display: flex;
    align-items: center;
}

.pf_txt_box {
    width: 100%;
    height: 400px;
    min-height: 400px;
    float: left;
}

.pf_txt_box_tit img {
    margin-left: 480px;
}

.pf_txt_box_tit span {
    display: none;
}

.pf_txt_box_tit h3 br {
    display: none;
}




/*cont5*/
.cont_5_cont {
    background: #86A4D1;
    width: 100%;
    padding: 100px 0;
    color: #fff;
}

.cont_5_tit {
    text-align: center;
    display: flex;
    align-items: center;
}

.cont_5_tit h2::after {
    content: "";
    display: block;
    width: 74px;
    border-bottom: 2px solid #fff;
    margin: 32px auto;
}

.cont_5_list {
    width: 100%;
}

.cont_5_list1 {
    display: flex;
    width: 80%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont_5_img {
    width: 46%;
    min-width: 400px;
}

.cont_5_img img {
    width: 100%;
}

.cont_5_txt {
    width: 46%;
    height: 100%;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cont_5_txt1 {
    width: 100%;
}

.cont_5_txt1 h3 {
    font-size: 40px;
    font-weight: 600;
    margin: 50px 0;
    font-family: "montserrat", -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
}

.cont_5_txt1 p {
    font-size: 18px;
    font-weight: 400;
    font-family: "pretendard", -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
    margin: 50px 0;
}

.cont_5_txt1 span {
    font-family: "montserrat", -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
}

.cont_5_next {
    width: 160px;
    height: 58px;
    background: #999;
    margin-right: 40px;
    border: 2px solid #554164;
    background-color: #fff;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cont_5_next a {
    text-decoration: none;
    color: #554164;
    font-size: 22px;
    font-weight: 600;
    position: relative;
}

.cont_5_next a img {
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.cont_5_next:hover {
    background-color: #554164;
    transition: 0.4s;
}

.cont_5_next:hover img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
    transition: 0.4s;
}

.cont_5_next:hover a {
    color: #EDEDED;
    transition: 0.4s;
}


/*cont6*/
.cont_6_cont {
    padding-bottom: 400px;
    margin: 0 auto;
}

.cont_6_tit {
    text-align: center;
    height: 400px;
    display: flex;
    align-items: center;

}

.cont_6_tit h2 {}

.cont_6_list {
    display: flex;
    width: 976px;
    margin: 0 auto;
    padding: 0;
    flex-flow: wrap;
    list-style: none;
}

.cont_6_list li {
    width: 230px;
    height: 129px;
    background: #999;
    margin: 7px;
}
.cont_6_list li img {width: 100%;}

/*footer*/
.footer {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #F2EEED;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #554164;
}

.footer span {
    font-family: "montserrat", -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
}

.f1 {
    order: 1;
    margin: 0;
}

.f1 ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.f1 ul li {
    margin: 0;
}

.f1 ul li img {
    width: 30px;
    margin: 10px;
}

.f2 {
    order: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f2 h3 {
    font-size: 30px;
    font-weight: 600;
    font-family: "montserrat", -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
    margin-bottom: 20px;
}

.f2 p {
    height: 100px;
}

.f2 > div {
    margin: 20px;
    width: 320px;
}
}
.f2_3 {display: flex; justify-content: flex-end;}




.footer a {
    color: #fff;
}

.link_txt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 28px;
}

.link_txt div {
    margin: 0;
}

.link_txt h5 {
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
}


.link_img {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link_txt1 img {
    width: 10px;
    height: 14px;
    margin: 0 5px;
}

.link_txt2 img {
    width: 16px;
    height: 8px;
    margin: 0 5px;
}


.f2_3 img {
    width: 250px;
}

.footer .f3 {
    order: 3;
    margin: 0;
    padding: 0;
}

.f3 span {
    padding: 0;
    font-size: 16px;
}




@media screen and (max-width:1280px) {
    .txt_box_txt br {
        display: none;
    }

    .pf_txt_box_tit h3 br {
        display: block;
    }

    .pf_txt_box_tit img {
        margin-left: 300px;
    }

    .cont_3_cont {
        display: block;
    }

    .cont_3_logo {
        height: 120px;
        width: 80%;
        margin: 0 auto;
        justify-content: flex-start;
    }

    .cont_3_logo1 {
        width: 500px;
        margin: 0;
    }

    .cont_3_logo2 {
        display: none;
    }

    .cont_3_txt {
        margin: 0 auto;
        text-align: right;
    }
    .cont_3_txt1 {
        margin: 60px 0;
    }
    .cont_3_link {justify-content:flex-end;}

    .cont_4_bd {
        margin: 60px 0;
    }

    .ow_img_bg {
        width: 80%;
    }

    .bd_img_bg {
        width: 80%;
    }

    .pf_img_bg {
        width: 80%;
        height: 100%;
    }

    .pf_img_ic {
        width: 52%;
    }

    .pf_txt_box_tit span {
        display: inline-block;
    }

    .cont_5_txt1 br {
        display: none;
    }

    .cont_6_list {
        width: 736px;
    }

    .cont_6_list li {
        width: 170px;
        height: 96px;
    }

}

/*mobile*/
@media screen and (max-width:900px) {
    .nav {
        width: 100%;
        height: 60px;
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: row;
        background: rgba(255,255,255,0.9);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        z-index: 10;
    }

    .nav_logo {
        width: 60px;
        height: inherit;
        margin: 0;
    }

    .nav_logo div {
        margin: 0;
    }

    .nav_logo1 {
        align-items: center;
        justify-content: center;
    }
    .nav_logo1 a {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav_logo2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav_logo2 a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav_logo img {
        width: 52px;
        margin: 0 0 0 10px;
        
    }

    .nav_link {
        display: none;
    }
    .nav_burger {margin: 0;}

    #sideDrawerMenu .icon_bars {
        position: absolute;
        top: 20px;
        right: 15px;
        left: inherit;
    }

    .menu {
        display: none;
    }

    /*햄버거 클릭 시 나오는 메뉴*/
    #sideDrawerMenu.on .menu {
        display: block;
    }

    .menu {
        background-image: url(asset/images/menu_back.png);
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity: 100%;
        position: fixed;
        top: 0;
        left: 0;
        color: #fff;
        display: none;
        margin: 0;
        padding: 0;
    }

    .opacity {
        width: 100%;
        height: 60px;
        background: rgba(255, 255, 255, 0.2);
    }

    .menu_main {
        width: 80%;
        height: 100vh;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menutitle {
        height: 30vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 15vh;
    }

    .menutitle a {
        display: flex;
        color: #fff;
        font-family: 'pretendard';
        font-weight: 600;
        align-items: center;
        font-size: 30px;
        height: 10vh;
    }

    .menutitle img {
        height: 100%;
        display: none;
    }

    .menutitle a:hover {
        color: #fff;
    }

    .menutitle a:hover img {
        display: none;
    }

    /*메뉴 푸터*/
    .sidefooter {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .sidefooter div {
        width: 92%;
        background: rgba(255,255,255,0.2);
        padding: 4%;
        margin: 0 0 10px;
    }
    .sidefooter .cont_3_link {display: none;}
    .sidefooter h3 {
        font-family: "montserrat", -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
        font-size: 18px;
        margin-bottom: 5px;
        font-weight: 600;
    }
    .sidefooter p {
        font-size: 14px;
    }

    .sidefooter span {
        font-family: "montserrat", -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
    }

    .nav_logo4 {
        width: 100%;
        display: none;
    }

    
    /*  모바일 본문  */
    .content h2 {font-size: 40px;}
    
    .cont_1_cont {width: 100%; margin: 60px 0 0 0;}
    .mbimg {display: block; width: 100%;}
    .cont_1_tit {display: none;}
    .cont_1_txt {height: inherit;}
    .cont_1_txt1,.cont_1_txt3 {display: none;}
    .cont_1_txt2 {width: 90%; margin: 0 auto;font-size: 20px;}
    
    .cont_2 {display: none;}
    
    .cont_3 {width: 100%; margin: 0 0 100px 0; padding: 0; height: inherit;}
    .cont_3_cont {width: 90%; margin: 0 auto; padding: 0;}
    .cont_3_txt {margin: 0 auto; width: 100%; text-align: left;}
    .cont_3_logo {margin: 0; width: 100%; height: inherit;}
    .cont_3_logo1 {margin: 0 auto; height: 100%;}
    .cont_3_txt1,.cont_3_txt2,.cont_3_link {margin: 50px 0;}
    .cont_3_link1 {width: 50%; min-width: 0;}
    .cont_3_link2 {width: 50%; min-width: 0;}
    .cont_3_link a {width: 100%;}
    .link_txt {width: 100%;}
    
    .cont_4_cont {width: 90%;}
    .cont_4_cont h2 {margin: 0 auto;}
    .cont_4_tit {height: 200px;}
    
    .underbar {width: 100%; z-index: 1;}
    .txt_box_tit {text-align: left;}
    .txt_box_tit img {display: none; }
    .txt_box_tit h3 {margin: 50px 0; font-size: 40px;}
    .txt_box_txt {text-align: left;}
    .cont_4_ow {flex-direction: column;}
    .cont_4_ow > div {width: 100%; margin: 0 ; min-height: 350px;}
    .ow_img_bg {width: 100%; min-height: 350px;}
    .ow_img_ic {max-width: 400px;}
    .ow_txt {height: 300px; min-height: 350px;}
    .ow_txt_box {height: 350px;min-height: 350px;}
    
    .cont_4_bd {flex-direction: column;}
    .cont_4_bd > div {width: 100%; margin: 0 ; min-height: 350px;}
    .bd_img_bg {width: 100%; min-height: 350px; margin: 0 auto;}
    .bd_img {order: 1;}
    .bd_img_ic {max-width: 400px;}
    .bd_txt {height: 300px; min-height: 350px;order: 2; text-align: left;}
    .bd_txt_box {height: 350px;min-height: 350px;}
    
    .cont_4_pf {flex-direction: column; margin-bottom: 100px;}
    .cont_4_pf > div {width: 100%; margin: 0 ; min-height: 350px;}
    .pf_img_bg {width: 100%; min-height: 350px; margin: 0 auto;}
    .pf_img_ic {max-width: 400px;}
    .pf_txt {height: 300px; min-height: 350px;}
    .pf_txt_box {height: 350px;min-height: 350px;}
    .pf_txt_box_tit h3 br {display: none;}
    .pf_txt_box_tit h3 span {display: none;}
    
    
    .cont_5_tit {padding: 0; margin: 0 auto;}
    .cont_5_tit h2 {margin: 0 auto 30px;}
    .cont_5_list1 {width: 90%; display: block;}
    .cont_5_img {min-width: inherit; width: 100%;}
    .cont_5_img img {width: 100%; }
    .cont_5_txt {width: 90%; margin: 0 auto; display: block;}
    .cont_5_txt1 h3 {margin: 0;}
    .cont_5_next {margin: 0 auto; width: 150px; height: 50px;}
    
    .cont_6 {padding-bottom: 180px;}
    .cont_6_cont {padding: 0;}
    .cont_6_tit {height: 300px;}
    .cont_6_tit h2 {margin-top: 50px;}
    .cont_6_list {width: 342px; margin: 0 auto; padding: 0;}
    .cont_6_list li {width: 100px; height: 57px;}
    
    
    .f1 ul {width: 30%; padding: 0; float: right;  justify-content: space-between; margin-bottom: 20px;}
    .f1 ul li {width: 25px; height: 25px;}
    .f1 ul li img {margin: 0; width: 25px; height: 25px;}
    .sns {margin: 0;}
    .f2 {flex-direction: column; width: 100%; margin: 0;}
    .f2_1 {width: 100%;}
    .f2_2 {width: 100%;}
    .f2 h3 {font-size: 18px; margin: 0 0 5px;}
    .f2 p {font-size: 14px;}
    .f2 .cont_3_link1 {display: none;}
    .f2 .cont_3_link2 {display: none;}
    .f2 p {height: inherit;}
    .f2 > div {margin: 5px 0; width: 100%;}
    .f2_3 {display: none;}
    .f3 span {font-size: 12px;}
}
